<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Windlogger</title>

    <!-- make it go full-screen when "added to home screen" -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link title="iPhoneikon" type="image/x-icon" rel="apple-touch-icon"
          href="/assets/storm.png"/>
    <link title="iPadikon" type="image/x-icon" rel="apple-touch-icon 114x114"
          href="/assets/storm.png"/>
    <link title="favicon" type="image/x-icon" rel="shortcut icon"
          href="/assets/storm.png"/>

    <link rel="stylesheet" href="/main.css"/>

    <script type="text/javascript"
            src="/components/jquery.min.js"></script>
    <script type="text/javascript" src="/components/materialize.min.js"></script>
    <script type="text/javascript"
            src="/components/highcharts.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js"></script>

    {% if DEBUG %}
    <script type="text/javascript" src="/vendors.js"></script>
    {% endif %}

</head>
<body>
<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>