#!/bin/bash

APP_DIR={{ app_dir }}
VENV_DIR={{ app_dir }}/backend/venv/bin
WORKERS=4

export PYTHONPATH=$APP_DIR/backend:$APP_DIR/backend/server:$APP_DIR/backend/tools/perf
source $VENV_DIR/activate

cd $APP_DIR

python tools/perf/stacksampler.py