#!/bin/bash

APP_DIR={{ app_dir }}
VENV_DIR={{ app_dir }}/backend/venv/bin
WORKERS=4

export PYTHONPATH=$APP_DIR/backend:$APP_DIR/backend/server
source $VENV_DIR/activate

cd $APP_DIR

exec gunicorn server.app:app --bind unix:{{ socket_file }} -w $WORKERS