- name: check if running as a vagrant box
  debug: var=vagrant

- name: read credentials from file
  include_vars: "./../credentials.json"
  register: credentials

- debug: var=credentials

- name: install dependencies
  apt:
    pkg={{ item }}
    state=installed
    update_cache=true
    cache_valid_time={{ 7*24*60*60}}
  with_items:
    - nginx
    - supervisor
    - python3.4-dev
    - python-pip
    - git
    - libffi-dev
    - libpq-dev # Needed for the psycopg2 python postgres driver
    - libffi-dev # Fix for InsecurePlatformWarning when installing requests in VM
    - libssl-dev # Fix for InsecurePlatformWarning when installing requests in VM
  notify:
    - start nginx

- name: install virtualenv
  pip: name=virtualenv

- name: create user
  user: name="{{ user }}"

- name: render supervisor config
  template:
    src=supervisor_windlogger.conf.j2
    dest=/etc/supervisor/conf.d/windlogger.conf
  notify:
    - reread supervisor config
    - update supervisor

- name: add default nginx config
  copy: src=nginx_main.conf dest=/etc/nginx/nginx.conf
  notify:
    - restart nginx

- name: render nginx app config
  template:
    src=nginx_windlogger.conf.j2
    dest=/etc/nginx/sites-available/windlogger.conf
  notify:
    - restart nginx

- name: enable nginx config
  file:
    src=/etc/nginx/sites-available/windlogger.conf
    dest=/etc/nginx/sites-enabled/windlogger.conf
    state=link
  tags: deploy
  notify:
    - restart nginx

- name: disable nginx default site config
  file:
    path=/etc/nginx/sites-enabled/default
    state=absent
  notify:
    - restart nginx

- name: download backend
  git:
    repo=https://github.com/jonkr/windlogger-backend.git
    dest="{{ app_dir }}/backend"
    depth=1
    accept_hostkey=yes
    force=yes
  tags:
    - deploy
  notify:
    - update supervisor
    - start windlogger

- name: copy credentials file
  copy:
    src="./../credentials.json"
    dest="{{ app_dir }}/backend"

- name: download frontend
  git:
    repo=https://github.com/jonkr/windlogger-frontend.git
    dest="{{ app_dir }}/frontend"
    depth=1
    accept_hostkey=yes
    force=yes

- name: set ownership on app dir
  file:
    path="{{ app_dir }}"
    owner="{{ user }}"
    recurse=yes
  tags: deploy

- name: render server run script
  template:
    src=RUN_SERVER.sh.j2
    dest="{{ app_dir }}/backend/RUN_SERVER.sh"
    owner="{{ user }}"
    mode=u+x

- name: install python environment
  pip:
    requirements="{{ app_dir }}/backend/requirements.prod"
    virtualenv="{{ app_dir }}/backend/venv"
    virtualenv_python=python3.4

- name: ensure supervisor knows about the app
  command: "{{ item }}"
  with_items:
    - /usr/bin/supervisorctl reread
    - /usr/bin/supervisorctl reload

- name: check if supervisor is active and knows about the app
  command: supervisorctl status
  register: supervisor_status

- debug: var=supervisor_status

- name: stop windlogger
  when: supervisor_status["stdout"].find("windlogger") > 0
  supervisorctl: name="windlogger:" state=stopped
  notify:
    - start windlogger

- name: render db migration script
  template:
    src=RUN_MIGRATIONS.sh.j2
    dest="{{ app_dir }}/backend/RUN_MIGRATIONS.sh"
    owner="{{ user }}"
    mode=u+x

- name: set db uri for alembic
  set_fact:
    DB_URI: "postgresql+psycopg2://{{ user }}:{{ credentials.ansible_facts.postgresPassword }}@localhost/windlogger"

- debug: var=DB_URI

- name: render alembic ini
  template:
    src="alembic.ini.j2"
    dest="{{ app_dir }}/backend/alembic.ini"
    owner="{{ user }}"

- name: run alembic migrations
  command: "{{ app_dir }}/backend/RUN_MIGRATIONS.sh"
  args:
    chdir: "{{ app_dir }}/backend"

- name: start windlogger
  supervisorctl:
    name="windlogger:"
    state=started
