- hosts: webservers
  become: yes
  become_user: root
  become_method: sudo
  vars:
    user: windlogger
    app_dir: /opt/windlogger
    socket_file: /tmp/gunicorn_windlogger.sock
    DEBUG: false
  roles:
    - { role: nodejs, tags: ['app'] }
    - { role: pm2, tags: ['app'] }
    - { role: postgresql, tags: ['app'] }
    - { role: app, tags: ['app'] }
